<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Page Elève</title>
    <link rel="stylesheet" href="/style_eleve.css" />
  </head>
  <body>
    <div id="top">
      <div id="intop">
        <div class="img"><img class="fit-picture" src="/logo.png"></div>
        <div><p>Proviseur</p></div>
        <div><p>Prof Réferent</p></div>
        <div><p>Professeur</p></div>
        <div><p>Élève</p></div>
      </div>
    </div>
      <div id="info">
        <div id="bande">
          <div id="bande1"></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div id="detail">
          <table id="tdetail">
            <tr>
              <td>
                <p class="description">Nom : </p>
              <p class="description">Prénom : </p>
              <p class="description">Classe : </p>
              <td><p class="description">1er semestre </p>
                  <p class="description">2ème semestre </p></td>
              <td><p class="description">Numéro INE : </p></td>
            </tr>
          </table>
          <div id="notes">
          </div>
        </div>
      </div>   
  </body>
</html>