<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Asimov Connexion</title>
</head>
<body>
    <div id="container">
        <form class="box" action="/auth/login" method="post" name="login">
            <div id="logo">
                <div class="img"><img class="fit-picture" src="../public/logo.png"></div>
                <div><h1>Asimov</h1></div>
            </div>         
            <h2 class="box-title">Connexion</h2>
            <input type="text" class="box-input" name="username" placeholder="Login" pattern="[0-9]" required>
            <input type="password" class="box-input" name="password" placeholder="Password" required>
            <input type="submit" value="Connexion" class="box-button">
        </form>

            <h2><%= message %> </h2> 
    </div>
</body>
</html>